html {
    padding: 20px;
}

body {
    margin: auto;
    background: grey;
}

header {
    padding-top: 30px;
    padding-bottom: 10px;

    text-align: center;
    text-transform: uppercase;
    color: black;
    background: #d1d1d1;
}

aside {
    float: right;
    max-width: 20%;
    padding-bottom: 10px;
    padding-right: 10px;

    background: #a10000;
    color: white;
}

article {
    padding-top: 10px ;
    padding-bottom: 10px;
    padding-left: 20px;

    margin-top: 20px;
    background: #d1d1d1;
    color: black;
}

h1 {
    color:#a10000;
}

footer {
    float:bottom;
    padding-top: 10px ;
    padding-bottom: 30px ;

    margin-top: 20px ;
    text-align: center;
    color: black;
    background: #d1d1d1;
}
